<header class="seccion busqueda" id="hBucar">
    <div class="buscarPokes">
        <input type="text" id="iBuscador" (keyup.enter)="buscarUnPoke()" (keyup)="estaVacio($event)">
        <button id="bBuscar" (click)="buscarUnPoke()">Buscar</button>
        <button id="bCancelar" (click)="llenarPokes()">cancelar</button>
    </div>
    <section class="filtrarTipos" id="stiposbusc">

        <button class="bTipo" id="normal" (click)="filtrarPorTipo(0)" [disabled]="cargando">
            
        </button>

        <button class="bTipo" id="fighting" (click)="filtrarPorTipo(1)" [disabled]="cargando">
            
        </button>

        <button class="bTipo" id="flying" (click)="filtrarPorTipo(2)" [disabled]="cargando">

        </button>

        <button class="bTipo" id="poison" (click)="filtrarPorTipo(3)" [disabled]="cargando">
        </button>

        <button class="bTipo" id="ground" (click)="filtrarPorTipo(4)" [disabled]="cargando">
            
        </button>

        <button class="bTipo" id="rock" (click)="filtrarPorTipo(5)" [disabled]="cargando">

        </button>

        <button class="bTipo" id="bug" (click)="filtrarPorTipo(6)" [disabled]="cargando">

        </button>

        <button class="bTipo" id="ghost" (click)="filtrarPorTipo(7)" [disabled]="cargando">

        </button>

        <button class="bTipo" id="steel" (click)="filtrarPorTipo(8)" [disabled]="cargando">

        </button>

        <button class="bTipo" id="fire" (click)="filtrarPorTipo(9)" [disabled]="cargando">
            
        </button>

        <button class="bTipo" id="water" (click)="filtrarPorTipo(10)" [disabled]="cargando">
            
        </button>

        <button class="bTipo" id="grass" (click)="filtrarPorTipo(11)" [disabled]="cargando">
            
        </button>

        <button class="bTipo" id="electric" (click)="filtrarPorTipo(12)" [disabled]="cargando">
            
        </button>

        <button class="bTipo" id="psychic" (click)="filtrarPorTipo(13)" [disabled]="cargando">

        </button>

        <button class="bTipo" id="ice" (click)="filtrarPorTipo(14)" [disabled]="cargando">

        </button>

        <button class="bTipo" id="dragon" (click)="filtrarPorTipo(15)" [disabled]="cargando">

        </button>


        <button class="bTipo" id="fairy" (click)="filtrarPorTipo(16)" [disabled]="cargando">

        </button>


    </section>



</header>
<!--Se muestran los pokemons-->
<section class="seccion" id="sPokedex">
    <div class="cambioPagina">
        <button id="bRetroceder" (click)="menosPokes()" [disabled]="anteriorDesabilitado">anterior</button>
        <p class="seleccionarPokemonP">Seleccionar Pokemon</p>
        <button id="bAvanzar" (click)="masPokes()" [disabled]="siguienteDesabilitado">siguiente</button>
    </div>

    <div class="seccionListadoPokes">
        <ol class="listadoPokes" id="olMostrarpokes" style="list-style-type: none;">
            <li *ngFor="let poke of pokemons" (click)="verPoke(poke.id)" id="pokes">
                <img [src]="poke.sprites.front_default" alt="no se encontro la imagen">
                <p>{{ poke.name }}</p>
            </li>
        </ol>
    </div>
