body{
    margin: 0;
}


.seccion{
    margin: 0;
    border: 15px solid;
    border-image: url(./../pokedex/img/bordeVioleta120trans.png) 20 20 repeat;
}





.busqueda{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.seleccionarPokemonP{
    margin: 0;
}

.cambioPagina{
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
}



.seccionListadoPokes{
    display: flex;
    justify-content: center;
}



.listadoPokes{   
    
    width: 80rem; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  
}

.buscarPokes{
    margin: .5rem 3rem .5rem 1rem;
}

.filtrarTipos{
    
    justify-content: space-around;
}


.pokeIndividual{
    margin: .05rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 6.6rem;
    height: 6.6rem;
    border: 10px solid;
    border-image: url(./../pokedex/img/bordeVioleta120trans.png) 20 20 repeat;
}

.nombreElegirPoke{
    margin: 0;
    text-align: center;
}

.imagenElegirPoke{
    object-fit: cover;
}



.elegidos{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    align-items: center;
}

.eleccionJugador{
    display: grid;
    grid-template-rows: 2.5rem 9rem;
}

.nombreJugadorEleccion{
    margin: 0;
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 2rem;
    
  
}

.contenedores{

    display: flex;
    justify-content: center;
    align-items: center;
    
}


.contenedorDeEleccion{
    
    width: 6.6rem;
    height: 6.6rem;
    margin: 0 .5rem;
    border: 10px solid;
    border-image: url(./../pokedex/img/bordeVioleta120trans.png) 20 20 repeat;
    
    
}

.bConfirmar{
    height: 4rem;
    
   
  
    
}

.footer{
    text-align: center;
}