

<section class="fondo">


<section class="seccion" id="pokedex">
    <div id="seccionListado">
        <table class="Pokes" id="TablaMostrarPokes">
            <caption>Pokedex</caption>
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody id="bodyTablaPokes">
                <tr *ngFor="let poke of pokemons" (click)="verPoke(poke.id)" class="filasPokedex">
                    <td><p>{{ poke.id }}</p></td>
                    <td><p>{{ poke.name }}</p></td>
                    <td> <!-- <img [src]="poke.sprites.front_default" (error)="handleImageError($event)" alt="no se encontro la imagen">  -->
                        <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + poke.id + '.png'" (error)="handleImageError($event)" alt="no se encontro la imagen"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="datosPokemon">
        <ol *ngIf="selectedPokemon">
            <!-- <img [src]="selectedPokemon.sprites.front_default" (error)="handleImageError($event)" alt="no se encontro la imagen"> --> <!-- Problemas en la API, tenemos que implementar la alternativa -->
            <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + selectedPokemon.id + '.png'" (error)="handleImageError($event)" alt="no se encontro la imagen">
            <h2>{{ selectedPokemon.name }}</h2>

            <!-- <p> {{selectedPokemon.sprites.back_default}} </p> -->
            
            <h3>weight: {{selectedPokemon.weight}} </h3>
            <h3>Type:</h3>
            <ol *ngFor="let type of selectedPokemon.types">
                <p> {{type.type.name}} </p>
            </ol>
            <li *ngFor="let stat of selectedPokemon.stats">
                <p>{{stat.stat.name}}: {{stat.base_stat}}  </p>
            </li>
            

        </ol>
        
      </div>
</section>

 

<footer id="fInfo">
    <p class="footer" id="pInfo">Todos los derechos reservados</p>
</footer>
</section>