
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Batallas Pokemon</title> -->
    
    <!-- <script src="./seleccionPoke.js"></script> -->
    <!-- <link rel="stylesheet" href="style-pokedex.css"> -->
</head>
<body>
    <body>
        <header id="hMenu"><!-- color elegido como la parte de busqueda -->
            <button id="bJugar" value="normal">
                <img src="" alt="Jugar">
                <a href=""></a>
            </button>
            <button id="bHistorial" value="normal">
                <img src="" alt="Historial">
                <a href=""></a>
            </button>
            <button id="bPokedex" value="normal">
                <img src="" alt="Pokedex">
                <a href=""></a>
            </button>
        </header>
    <section class="seccion" id="pokedex">
        <div id="seccionListado">
            <table class="Pokes" id="TablaMostrarPokes">
                <caption>Pokedex</caption>
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="bodyTablaPokes">

                </tbody>
            </table>
        </div>
        <div id="datosPokemon">
            
        </div>
    </section>

    <footer  id="fInfo" ><!-- Informacion -->

        <p  class="footer" id="pInfo">Todos los derechos reservados</p>

    </footer>
    <script src="./pokedex.js"></script>
</body>
