<div id="contenedor">
    <h1 *ngIf="victoriaPara == 1">Victoria de {{j1.nombre}}</h1>
    <h1 *ngIf="victoriaPara == 2">Victoria de {{j2.nombre}}</h1>
    
    <ul>
        <li *ngFor="let poke of listaPokesGanadores">
            <img [src]="poke.urlImgFront" alt="no se encontro la imagen del pokemon">
        </li>
    </ul>
    
    <div id="contBtn">
        <button (click)="mismaPelea()">Pelear con los mismo pokemons</button>
        <button (click)="otraPelea()">Elegir distintos pokemons</button>
        <button (click)="volverAlMenu()">Volver al menu principal</button>
    </div>
        
</div>
