.tooltip-container{
  color: white;
}

.tooltip-text {
  border-width: 20px;
  border-image: url('./../../../assets/img/bordeVioleta120trans.png') 30 fill round;
  background-color: white;
  color: black;
  
  visibility: hidden;
  z-index: 1;
  padding: 5px;
  position: relative;
  bottom: 50px;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}