@font-face {
    font-family: 'PixelFont';
    src:url('../../../../assets/Minecraft.ttf')
  }

#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-family: "PixelFont";
    font-size: 5rem;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul img{
    height: 25vh ; 
    width: 15vw;
}

button{
    background-image: url(./../../../../assets/img/Neutral/battleFightButtons1.png);
    
    background-size: 100% 100%; 
   background-position: center; 
   background-repeat: no-repeat;
   border: none;
   outline: none;
   width: 20vw;
   height: 10vh;
   align-items: center;
   background-color: transparent;
   font-family: 'PixelFont';
   z-index: 0;
   
   font-size: 20px;
   color: inherit;
}

#contBtn{
   display: flex;
   flex-direction: row;
}

