
@font-face {
    font-family: 'PixelFont';
    src:url('../../../../assets/Minecraft.ttf');
    font-family: 'Pokemon';
    src:url('./../../../../assets/PokemonSolid.ttf');
  }
  
  
    
  h1{
    position: absolute;
    font-family: 'Pokemon', sans-serif;
    font-size: 8vw;
    top: 10%;
    color: yellow;
   
    font-family: 'Pokemon', sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #2b05ff, 0px 0px 10px #2b05ff, 0px 0px 10px #2b05ff, 0px 0px 10px #2b05ff, 0px 0px 20px #2b05ff, 0px 0px 20px #2b05ff, 0px 0px 30px #2b05ff;

}

fieldset{
    border-image: url(src\assets\img\bordeVioleta120trans.png) 20 20 repeat;
    background-color: grey;
    bottom: 0px; 
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-style: normal;
    font-family: 'PixelFont';
    /* text-decoration: underline;
    text-decoration-style: wavy; */
    text-shadow: 1px 1px 1px   white;
    color: black;
    
}

.error{
    background-color: rgb(236, 146, 146);
    color: rgb(117, 11, 11);
    width: 100%;
    text-align: center;
}
.fondo{
    background-color: rgb(202, 201, 201);
    height: 100%;
    width: 100%;
}
.pika {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid;
    border-image: url(src\assets\img\bordeVioleta120trans.png) 20 20 repeat;
    background-image: url(../../../../assets/img/Td9n.gif);
    height: 95vh;
    width: 90vw;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
}
