@font-face {
    font-family: 'PixelFont';
    src:url('../../../assets/Minecraft.ttf')
  }

.historial{
    margin: 0;
    background-color: #FFF8DC;
    border-radius: 50px;
    border: 20px solid ;
    border-image: url(src/assets/img/bordeMarron120Trans.png) 40 40  repeat; 
    
}

.batalla{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    align-items: center;
}

.usuario{
   
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}


.infoUsuarioHistorial{

    display: flex;
    justify-content: space-around;
}
.infoUsuario{
    padding: 0;
    margin: 0;
    font-family: 'PixelFont';
}

.contenedores{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    

}

.pokeIndividual{
    font-family: 'PixelFont';
    background: rgb(255,251,236);
    background: radial-gradient(circle, rgba(255,251,236,1) 40%, rgba(224,218,189,1) 100%);
    margin: .5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 6.6rem;
    height: 6.6rem;
    border: 10px solid;
    border-image: url(../../../assets/img/bordeVioleta120trans.png) 50 50 repeat;
}

.nombrePoke{
    text-align: center;
}
/*
.contenedorDeEleccion{
    
    width: 6.6rem;
    height: 6.6rem;
    margin: 0 .5rem;
    border: 10px solid;
    border-image: url(bordeVioleta120trans.png) 50 50 repeat; 
}*/

.imagenElegirPoke{
    object-fit: cover;
}


.elegidos{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    align-items: center;
}

.eleccionJugador{
    display: grid;
    grid-template-rows: 2.5rem 9rem;
}


.versus{
    display: flex;
    justify-content: center;
}
.versusTexto{
    
    color: brown;
    font-size: 2rem;
}

.victoria{
    
   color: green;
}
.derrota{
   color: red;
}

hr{
    border: 0px;
    border-radius: 20px;
    background-color: #e0dabd;
    width: 100%;
    height: 3px;
}