<!--parte superior-->
<section id="fondo">


    <section>

        <section class="dato" id="datoBack">
            <p id="nombreBack">{{j1.pokemons[pokemonPeleandoj1].nombre}}</p>
            <div>barra de vida</div>
            <p>{{j1.pokemons[pokemonPeleandoj1].vidaActual}} / {{j1.pokemons[pokemonPeleandoj1].vida}}</p>
            <ol>efectos</ol>
<!--             <img src='./../../../../assets/img/pokeUI.png' alt="img " srcset="" id="ImgBack">
 -->        </section>

        <img [src]="j1.pokemons[pokemonPeleandoj1].urlImgBack" alt="imgPokeActual" id="imagenTrasera">
<!--         <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/145.png" alt="imgPokeActual" id="imagenTrasera">
 -->
    </section>

    <!--parte inferior-->
    <section>
        <section class="dato" id="datoFront">
            <p id="nombreFront">{{j2.pokemons[pokemonPeleandoj2].nombre}}</p>
            <div>barra de vida</div>
            <p>{{j2.pokemons[pokemonPeleandoj2].vidaActual}} / {{j2.pokemons[pokemonPeleandoj2].vida}}</p>
            <ol>efectos</ol>
<!--             <img src='./../../../../assets/img/pokeUI.png' alt="img" srcset="" id="ImgFront">
 -->        </section>

        <img [src]="j2.pokemons[pokemonPeleandoj2].urlImgFront" alt="imgPokeActual" id="imagenDelantera">
        <!-- <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/146.png" alt="imgPokeActual" id="imagenDelantera"> -->
    </section>
</section>