@font-face {
    font-family: 'PixelFont';
    src: url('./../../../../../assets/Minecraft.ttf')
}

.fondo {
    position: relative;
    background-image: url(src\assets\img\Campo_de_batalla_DPPt_2.webp);
    background-size: 100% 100%;
    height: 75vh;
    width: 100vw;
    overflow: hidden;
    /* border: 10px solid;
     border-image: url(./../../../../assets/img/FondoOrig.jpeg) 60 60  repeat; */
    /* background-repeat: no-repeat; */

}

#imagenTrasera {
    position: absolute;
    bottom: -12%;
    left: 10%;

}

.imgPok {
    height: 40vh;
    width: 30vw;
}

#imagenDelantera {
    position: absolute;
    right: 10%;
    top: 20%;
}

#datoBack {

    position: absolute;
    top: 85%;
    left: 70%;
    transform: translate(-50%, -50%);


}

#datoFront {

    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);

    z-index: 1;
}

#nombreContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust as needed */
  }
  

.dato {
    position: relative;
    border-style: solid;
    background-image: url(./../../../../../assets/img/pokeUI.png);
    background-size: 100vw 25vh;
    background-repeat: no-repeat;
    background-position: center;
    border: 3rem solid;
    border-image: url(./../../../../../assets\img\ataqueMarco.png) 40 40 repeat;
    border-radius: 30px;

    font-family: "PixelFont";
    font-size: 25px;
    height: 10vh;
    width: 20vw;
    /*-webkit-font-smoothing: none;*/
    text-transform: capitalize;

}

.vida {
    height: 2vh;
    width: 10vw;
}

#lifeBarTrasero {
    position: absolute;
    left: 50%;
    bottom: 25%;
}

#lifeBarDelantero {
    position: absolute;
    left: 50%;
    top: 50%;
}

.vidaNum {
    position: absolute;
    left: 70%;
    bottom: -10%;
    width: 10vw;
    height: 2vh;
    font-size: 20px;

}

.audio {
    display: none;
}

.barraVida1 {
    width: 100%;
    height: 20px;
    position: relative;
    border-radius: 5%;
    border:  5px solid black;
}

.barraVidaInterior1 {
    height: 100%;
    transition: width 0.3s;
}


.barraVida2 {
    width: 100%;
    height: 20px;
    position: relative;
    border-radius: 5%;
    border:  5px solid black;
}

.barraVidaInterior2 {
    height: 100%;
    transition: width 0.3s;
}

.verde {
    background-color: #4caf50;
}

.amarillo {
    background-color: #ffc107;
}

.rojo {
    background-color: #f44336;
}