.evr{
    background-color: rgb(202, 201, 201);
    height: 100%;
    width: 100%;
}



.footer{
    
    text-align: center;
}



#hMenu{
    /*margin: .10rem 5rem .10rem 5rem;*/
    border: 10px solid;
    border-image: url(src\assets\img\bordeVioleta120trans.png) 30 30 repeat;
    
}

ul{
    list-style-type: none;
}


.main-section {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid;
    border-image: url(src\assets\img\bordeVioleta120trans.png) 20 20 repeat;
    background-image: url(src\assets\img\pikachuGif.gif);
    height: 600px;
    width: 800px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}


.main-section #btn {
    position: absolute;
    bottom: 0px; /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-image: url(src\assets\img\pokeplay-removebg-preview.png); /* replace with your image path */
    background-size: contain; /* adjust as needed */
    background-position: center; /* adjust as needed */
    background-color: transparent;
    height: 6rem;
    width: 20rem;
    border: none;
  }