  <!--   <header id="hMenu">
        <button id="bJugar" value="normal">
            <img src="" alt="Jugar">
            <a href=""></a>
        </button>
        <button id="bHistorial" value="normal">
            <img src="" alt="Historial">
            <a href=""></a>
        </button>
        <button id="bPokedex" value="normal">
            <img src="" alt="Pokedex">
            <a href=""></a>
        </button>
    </header> -->
    <section class="evr">
        <section class="main-section">
            <button id="btn" (click)="clickButton()"> </button>
        </section>
        <footer id="fInfo">
            <p class="footer">Todos los derechos reservados</p>
        </footer>
    </section>
    
