@font-face {
    font-family: 'PixelFont';
    src:url('./../../../assets/Minecraft.ttf')
  }

.evr{
    background-color: rgb(202, 201, 201);
    height: 100%;
    width: 100%;
}



.footer{
    
    text-align: center;
}



#hMenu{
    /*margin: .10rem 5rem .10rem 5rem;*/
    border: 10px solid;
    border-image: url(src\assets\img\bordeVioleta120trans.png) 30 30 repeat;
    
}

ul{
    list-style-type: none;
}


.main-section {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid;
    border-image: url(src\assets\img\bordeVioleta120trans.png) 20 20 repeat;
    background-image: url(./../../../assets/img/pikachu.gif);
    height: 95vh;
    width: 90vw;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
}


.main-section #btn {
    position: absolute;
    bottom: 0px; 
    left: 50%;
    transform: translateX(-50%);
    background-image: url(src\assets\img\pokeplay-removebg-preview.png); 
    background-size: cover; 
    background-position: center; 
    background-color: transparent;
    height: 10vh;
    width: 20vw;
    border: none;
    background-repeat: no-repeat;
  }